@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300&display=swap');
 
 body {
   font-family: 'Open Sans Condensed', sans-serif;
   margin: 0;
   padding: 0;
   background: url('assets/trail2-bg.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #06593D;
 }

 a {
   text-decoration: none;
 }

 span {
   cursor: pointer;
  
 }
 
 .navList {
   text-decoration: none;
   color: black;
   transition: color 0.3s ease;
   font-weight: bold;
   cursor: pointer;
 }

 .buddyIconFront{
    width: 50px;
    height: 50px;
    outline: none;
 }
 .buddyIconRepeat{
    width: 25px;
    height: 25px;
    outline: none;
 }
 .formatLocation{
   color: white;
  font-size: 18px;
  width: 185px;
  margin: 0 auto;
  margin-right: 10px;
 }
 /* .buddy-popup {
     border: solid 1px black;
     background-color: #363D4F;
     margin: 12px;
     padding: 12px;
 } */
 .locationAndSort{
   display: flex;
   height: 60px;
   width: 85vw;
   margin: 0 auto;
   align-content: center; 
  
 }

 #menuToggle {
   display: block;
   position: relative;
   top: 20px;
   left: 20px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
   width: 80%;
 
 }
 
 #menuToggle .routingInput {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 
 /*
  * Hamburger
  */
 #menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #F8F9F4;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle .routingInput:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #363D4F;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle .routingInput:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * the last one should go the other direction
  */
 #menuToggle .routingInput:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu {
   position: absolute;
   width: 150px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #F8F9F4;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle .routingInput:checked ~ ul {
   transform: none;
 }

 .buddyIconFront, .buddyIconRepeat {
  display: flex;
  border: none;
  /* padding:10px 25px 10px 25px; */
  text-align: center;
  background-color: white;
  opacity: .9;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  border-radius: 5px;
 }

 .text {
   height: 225px;
 }

 /* .lasher {
   font-size: 20px;
   margin: 0 auto;
 } */

 .heading {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   margin: 0 auto;
   flex-wrap: wrap;
 }

 .lasher {
  color: white;
   margin-top: -20px;
   margin-bottom: 0px;
   font-family: 'Anton', sans-serif;
   font-weight: 100;
   font-size: 50px;
 }

 .trailFinder {
  color: white;
   margin-top: -15px;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 100;
   font-size: 25px;
 }

 .mountainImage {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 60%;
   height: auto;
   margin: 0 auto;
   margin-top: -20px;
 }

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.container {
    margin: 8px;
    padding-top: 7%;
    padding-left: 2%;
    padding-right: 2%;
    color: black;
    opacity: 0.9;
    border-radius: 5px;
    opacity: .9;
    height: 120px;
    width: 85vw;
    display: flex;
    background-color: white;
    opacity: 0.7;
}

.preview {
    color: white;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
 
}

.trailName {
  font-weight: bolder;
  margin: 0 auto;
  padding-top: 5%;
  font-size: 22px;
  color: black;

}

.left {
    display: flex;
    height: 120px;
    flex-direction: column;
    width: 150px;
    margin-left: 8%;
}

.showMore {
  color: white;
  background: black;
  border-radius: 3px;
  border: none;
  outline: none;  
  box-shadow: 2px 3px 4px -3px rgba(15,15,15,1);
  width: 100%;
  padding: 5px 5px 5px 5px;
  text-align: center;

}

.lengthTrail {
  margin: 0 auto;
  /* width: 100px; */
  font-weight: bolder;
  font-size: 16px;
  width: 90%;
  margin-left: 0;
  color: black;
}

.diffTrail {
  margin-right: 0;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 15%;
  color: black;
}

.right {
    display: flex;
    height: 100px;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 60px;
    width: 30vw;
    margin-right: 0;
}

.subContainer {
    border: 2px solid black;
}

.starRating {
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
}

.star {
    height:30px;
    width: 30px;
}

.fullView {
    height: auto;
    /* -webkit-transition: 1s;
    transition: 1s; */
    /* background-color: red; */
}

.partialView {
    height: 120px;
    /* -webkit-transition: 1s;
    transition: 1s; */
}

.show {
    position: relative;
    z-index: 10;
    visibility: visible;
    /* -webkit-transition: visibility 1s;
    transition: visibility 1s; */
}

.hide {
    visibility: hidden;

    /* -webkit-transition: visibility .35s;
    transition: visibility .35s; */
}

.trail-details {
    border: solid 1px black;
    padding: 12px;
    margin: 24px;
}

.sort-trail {
    display: flex;
    margin-top: 12.5px;
    border-radius: 5px;
    background-color: white;
    opacity: .9;
    border: none;
    height: 35px;
    padding: 8px 10px 8px 10px;
    width: 160px;
    margin-left: 10px;
    font-size: 10px;
}


/* .collapsible-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */
.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
    height: 50vh;    
    padding-top: 25px;
}

.searchInput {
  box-shadow: 8px 6px 11px -3px rgba(15,15,15,1);
}

.searchButton {
  outline: none;  
  box-shadow: 8px 6px 11px -3px rgba(15,15,15,1);
}

.searchInput, .searchButton {
  display: flex;
  border: none;
  padding:13px 28px 13px 28px;
  text-align: center;
  background-color: white;
  /* opacity: .9; */
  /* font-size: 12px; */
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  width: 70vw;
  color: black;
}
 
/* .seach-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* .extra-search-params {
   display: flex;
   margin: 0 auto;

} */

/* .location-search {

} */

/* .secondary-search-param {
    width: 75px;
} */
/* .added-search-params {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
} */
.hiking-buddy-list {
    list-style-type: none;
}

.hiking-buddy-list > li {
    margin-bottom: 10px;
}

.buddy-description-icons {
    width: 25px;
    height: 25px;
}

@media only screen and (min-width: 768px) {

  

        .mainContainer {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .container {
            width: 35vw;
            padding: 20px;
        }

        .trailFinder {
          margin-bottom: -29px;
          font-size: 35px;
        }

        .lasher {
          font-size: 75px;
        }

        .heading {
          width: 500px;
        }

        .search-container {
            width: 80vw;
            padding-top:50px;
            height: 45%;
        }

        .searchInput {
          height: 45px;
          font-size: 20px;
        }

        .text {
          height: 300px;
        }

        .mountainImage {
          width: 45%;
        }

        .location-search {
          height: 45px;
          font-size: 20px;
        }

        input[type="text"]::placeholder {
          text-align: left;
        }

        .selectDropDown {
          height: 71px;
          width: 77vw;
          color: gray;
        }

        .dropDown {
          width: 58vh;
          height: 5vh;
        }

        .searchButton {
          width: 77vw;
          height: 60px;
          font-size: 25px;
        }

        .formatLocation {
          margin-left: 0;
          width: 60vw;
          font: 45px;
        }

        .locationAndSort {
          justify-content: space-between;
          align-items: flex-end;
        }

        .sort-trail {
          width: 40vw;
          height: 40px;
          font-size: 13px;
        }

        .preview {
          width: 100%;
          height: 100%;
        }

        .right {
          margin-left: 15%;
          margin-top: 10%;
        }

        .left {
          margin: 0;
          padding-top: 1%;
        }

        .trailName {
          padding: 0;
          font-size: 20px;
          padding-top: 7%;
        }

.starRating {
  padding-top: 3%;
  padding-bottom: 10%;
}

.star {
  height:30px;
  width: 30px;
}
}


@media only screen and (min-width: 1250px) {

    .text {
      display: flex;
      justify-content: center;
      align-items: baseline;
      height: 200px;
      width: 600px;
      margin: 0 auto;
    }
    .heading {
      width: 450px;
      height: 85px;
    }

    .mountainImage {
      margin: 0 auto;
      width: 30%;
      z-index: 5;
      margin-right: 0;
      margin-top: 25px;
    }

    .lasher {
      font-size: 80px;
    }

    .trailFinder {
      font-size: 45px;
    }

    .searchInput {
      width: 40vw;
      margin: 9px;
    }

    .selectDropDown {
      height: 49px;
      width: 43vw;
    }

    .searchButton {
      width: 43vw;
      height: 49px;
    }

    .search-container {
      padding: 0;
      height: 385px;
    }

    .formatLocation{
      color: white;
      margin-left: 120px;
      margin-bottom: 0;
      height: 35px;
      margin-top: 75px;
    }

    .locationAndSort {
      display: flex;
      margin: 0 auto;
      width: 77vw;
      justify-content: space-between;
      align-items: center;
      height: 15vh;
    }

    .sort-trail {
      height: 50px;
      width: 20vw;
      font-size: 17px;

    }

    .formatLocation {
      margin: 0;
      height: 8vh;
      width: 30vw;
      margin-top: 40px;
      font-size: 32px;
    }

    .dropDown {
      width: 665px;
      height: 60px;
    }

    .preview {
      width: 100%;
    }

    .right {
      margin-left: 40%;
      margin-bottom: 0;
      margin-top: 1%;
    }

    .diffTrail {
      font-size: 20px;
    }

    .lengthTrail {
      font-size: 20px;
    }

   .left {
     height: 100%;
   }
  
    .trailName {
      font-size: 20px;
      margin-top: 0;
    }

}