@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300&display=swap');
 
button {
    background: none;
    border: none;
}

 body {
   font-family: 'Open Sans Condensed', sans-serif;
   margin: 0;
   padding: 0;
   background: #51544d;

   background: url('assets/rock-bg.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #06593D;
 }

 a {
   text-decoration: none;
 }

 span {
   cursor: pointer;
  
 }
 
 .navList {
   text-decoration: none;
   color: black;
   transition: color 0.3s ease;
   font-weight: bold;
   cursor: pointer;
 }

 .buddyIconFront{
    width: 50px;
    height: 50px;
    outline: none;
 }
 .buddyIconRepeat{
    width: 25px;
    height: 25px;
    outline: none;
 }
 .format-location{
   background: white;
   opacity: .8;
   padding: 10px;
   border-radius: 5px;

 }
 .buddy-popup {
     /* border: solid 1px black; */
     display: flex;
     position: relative;
     justify-content: center;
     background-color: white;
     opacity: .9;
     box-shadow: 0px 0px 0px 0px;
     margin: 12px;
     padding: 12px;
     position: fixed;
     z-index: 10;
     top: 5vh;
     left: calc(80% - 80vw);
     width: 80vw;
     overflow-y:scroll;
    }

    .close-button {
        position: absolute;
        top:5px;
        left:5px;
    }

    .hiking-buddy-left {
        display: flex;
        flex-direction: column;
    }

 .location-and-sort{
   display: flex;
   margin: 0 auto;
   flex-direction: column;
   width: 200px;
   justify-content: space-around;
 }

 #menuToggle {
   display: block;
   position: relative;
   top: 20px;
   left: 20px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
   width: 80%;
 
 }
 
 #menuToggle .routingInput {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 
 /*
  * Hamburger
  */
 #menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #F8F9F4;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle .routingInput:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #363D4F;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle .routingInput:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * the last one should go the other direction
  */
 #menuToggle .routingInput:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu {
   position: absolute;
   width: 150px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #F8F9F4;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle .routingInput:checked ~ ul {
   transform: none;
 }

 .buddyIconFront, .buddyIconRepeat {
  display: flex;
  border: none;
  /* padding:10px 25px 10px 25px; */
  text-align: center;
  background-color: white;
  opacity: .9;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  border-radius: 5px;
 }

 .searchInput, .searchButton {
   /* display: flex; */
   border: none;
   padding:10px 25px 10px 25px;
   text-align: center;
   background-color: white;
   opacity: .9;
   font-size: 12px;
   /* justify-content: center; */
   /* align-items: center; */
   /* margin: 25px auto; */
   border-radius: 5px;
   
   /* border: none;
   background-color: #F8F9F4; */
 }

 .searchInput {
   margin-bottom: 7px;
   width: 100px;
   margin: 6px;
 }

 .buddyInput {
  margin-bottom: 7px;
  width: auto;
  margin: 6px;
  border: none;
  /* padding:10px 25px 10px 25px; */
  text-align: center;
  background-color: white;
  opacity: .9;
  font-size: 12px;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 25px auto; */
  border-radius: 5px;
}

 .searchButton {
   color: #363D4F;
   /* width: 279px;
   height: 36px; */
   outline: none;
   width: inherit;
  
 }

 /* .lasher {
   font-size: 20px;
   margin: 0 auto;
 } */

 .heading {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30%;
   margin: 0 auto;
   flex-wrap: wrap;
 }

 .lasher {
  color: white;
   margin-top: -20px;
   margin-bottom: 0px;
   font-family: 'Anton', sans-serif;
   font-weight: 100;
   font-size: 50px;
 }

 .trailFinder {
  color: white;
   margin-top: -15px;
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 100;
   font-size: 25px;
 }

 .mountainImage {
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 60%;
   height: auto;
   margin: 0 auto;
   margin-top: -20px;
 }

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.container {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    /* border: solid 1px blue; */
    /* margin: 24px;
    padding: 12px; */
    /* background-color: white; */
    color:black;
    /* border-radius: 5px; */
    /* opacity: .9; */

    /* background-repeat: no-repeat;
    background-size: contain; */
}

.trail-card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 300px;
    position: relative;
    z-index: 1;
    /* padding: 15px; */
    width: inherit;
}

.trail-card-info {
    display: flex;
    width: inherit;
    height: 50px;
    justify-content: space-around;
    background-color: white;
    /* border: solid 1px white; */
    opacity: .8;
}

.trail-details-button {
    display: flex;
    justify-content: center;
    /* background-color: white;
    opacity: .8;
    padding: 12px; */
}

.more-less-button {
    width:30px;
    height:30px;
    background: black;
    opacity: .8;
    border-radius: 5px;
    padding: 5px;
}

.trail-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 75px;

}

.hiking-buddy-icon {
    height: 30px;
    width: 30px;
    background: black;
    opacity: .8;
    border-radius: 5px;
    padding: 5px;
}

.left {
    display: flex;
    height: 120px;
    flex-direction: column;
    width: 150px;
    margin-left: 8%;
}

.showMore {
  color: white;
  background: black;
  border-radius: 3px;
  border: none;
  outline: none;  
  box-shadow: 2px 3px 4px -3px rgba(15,15,15,1);
  width: 100%;
  padding: 5px 5px 5px 5px;
  text-align: center;

}

.lengthTrail {
  margin: 0 auto;
  /* width: 100px; */
  font-weight: bolder;
  font-size: 16px;
  width: 90%;
  margin-left: 0;
  color: black;
}

.diffTrail {
  margin-right: 0;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 15%;
  color: black;
}

.right {
    display: flex;
    height: 100px;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 60px;
    width: 30vw;
    margin-right: 0;
}

.subContainer {
    border: 2px solid black;
}

.starRating {
    display: flex;
    padding-top: 4%;
    padding-bottom: 4%;
}

.star {
    height:30px;
    width: 18px;
}

.fullView {
    height: auto;
    /* -webkit-transition: 1s;
    transition: 1s; */
    /* background-color: red; */
}

.partialView {
    /* height: 120px; */
    /* -webkit-transition: 1s;
    transition: 1s; */
}

.show {
    position: relative;
    z-index: 10;
    visibility: visible;
    background: white;
    opacity: .9;
    /* -webkit-transition: visibility 1s;
    transition: visibility 1s; */
}

.hide {
    visibility: hidden;

    /* -webkit-transition: visibility .35s;
    transition: visibility .35s; */
}

.trail-details {
    border-bottom: solid 1px #e0dcdc;
    padding: 12px;
    /* margin: 24px; */
}

.sort-trail {
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    opacity: .9;
    border: none;
    height: 35px;
    padding: 8px 10px 8px 10px;
    width: 160px;
    margin-left: 10px;
    font-size: 10px;
}


/* .collapsible-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} */
.search-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
    height: 50vh;    
    padding-top: 25px;
}

.searchInput {
  box-shadow: 8px 6px 11px -3px rgba(15,15,15,1);
}

.searchButton {
  outline: none;  
  box-shadow: 8px 6px 11px -3px rgba(15,15,15,1);
}

.searchInput, .searchButton {
  display: flex;
  border: none;
  padding:13px 28px 13px 28px;
  text-align: center;
  background-color: white;
  /* opacity: .9; */
  /* font-size: 12px; */
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  width: 70vw;
  color: black;
}
 
/* .seach-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
/* .extra-search-params {
   display: flex;
   margin: 0 auto;

} */

/* .location-search {

} */

/* .secondary-search-param {
    width: 75px;
} */
/* .added-search-params {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
} */
.hiking-buddy-list {
    list-style-type: none;
}

.hiking-buddy-list > li {
    margin-bottom: 10px;
}

.buddy-description-icons {
    width: 25px;
    height: 25px;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

/* .box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
} */

@keyframes bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-10px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}


@media only screen and (min-width: 768px) {

  

        .mainContainer {
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: center;
        }

        .container {
            /* width: 35vw; */
            /* padding: 25px; */
            margin: 5px;
        }

        .trailFinder {
          margin-bottom: -29px;
          font-size: 35px;
        }

        .lasher {
          font-size: 75px;
        }

        .heading {
          width: 500px;
        }

        .search-container {
            width: 80vw;
            padding-top:50px;
            height: 45%;
        }

        .searchInput {
          height: 45px;
          font-size: 20px;
        }

        .text {
          height: 300px;
        }

        .mountainImage {
          width: 45%;
        }

        .location-search {
          height: 45px;
          font-size: 20px;
        }

        input[type="text"]::placeholder {
          text-align: left;
        }

        .selectDropDown {
          height: 71px;
          width: 77vw;
          color: gray;
        }

        .dropDown {
          width: 58vh;
          height: 5vh;
        }

        .searchButton {
          width: 77vw;
          height: 60px;
          font-size: 25px;
        }

        .formatLocation {
          margin-left: 0;
          width: 60vw;
          font: 45px;
        }

        .locationAndSort {
          justify-content: space-between;
          align-items: flex-end;
        }

        .sort-trail {
          width: 40vw;
          height: 40px;
          font-size: 13px;
        }

        .preview {
          width: 100%;
          height: 100%;
        }

        .right {
          margin-left: 15%;
          margin-top: 10%;
        }

        .buddy-popup {
            left: calc(85.5% - 80vw);
        }

        .trail-details-button {
            /* width: 80%;
            margin: 5px auto; */
        }

        .star {
          height:30px;
          width: 30px;
        }
}




@media only screen and (min-width: 1250px) {

    .text {
      display: flex;
      justify-content: center;
      align-items: baseline;
      height: 200px;
      width: 600px;
      margin: 0 auto;
    }
    .heading {
      width: 450px;
      height: 85px;
    }

    .mountainImage {
      margin: 0 auto;
      width: 30%;
      z-index: 5;
      margin-right: 0;
      margin-top: 25px;
    }

    .lasher {
      font-size: 80px;
    }

    .trailFinder {
      font-size: 45px;
    }

    .buddy-popup {
        left: calc(87.4% - 80vw);
    }

    .hiking-buddy-icon:hover {
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    .selectDropDown {
      height: 49px;
      width: 43vw;
    }

    .searchButton {
      width: 43vw;
      height: 49px;
    }

    .search-container {
      padding: 0;
      height: 385px;
    }

    .formatLocation{
      color: white;
      margin-left: 120px;
      margin-bottom: 0;
      height: 35px;
      margin-top: 75px;
    }

    .locationAndSort {
      display: flex;
      margin: 0 auto;
      width: 77vw;
      justify-content: space-between;
      align-items: center;
      height: 15vh;
    }

    .sort-trail {
      height: 50px;
      width: 20vw;
      font-size: 17px;

    }

    .formatLocation {
      margin: 0;
      height: 8vh;
      width: 30vw;
      margin-top: 40px;
      font-size: 32px;
    }

    .dropDown {
      width: 665px;
      height: 60px;
    }

    .preview {
      width: 100%;
    }

    .right {
      margin-left: 40%;
      margin-bottom: 0;
      margin-top: 1%;
    }

    .diffTrail {
      font-size: 20px;
    }

    .lengthTrail {
      font-size: 20px;
    }

   .left {
     height: 100%;
   }
  
    .trailName {
      font-size: 20px;
      margin-top: 0;
    }

}